.main-store{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 100px 50px;
}
.guitar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cart-container{
    margin: 22px 0px 22px 0px;
    border-radius: 10px;
    background-color: brown;
    color:black;
    text-align: center;
}

@media screen and (max-width: 426px) {
    .guitar-container{
        grid-template-columns: 1fr;
    }
}