.main-store{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 100px 50px;
}
.guitar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cart-container{
    color:chocolate;
    text-align: center;
}

@media screen and (max-width: 426px) {
    .guitar-container{
        grid-template-columns: 1fr;
    }
}