.product{
    width: 300px;
    height: 500px ;
    border: 3px solid green;
    border-radius: 10px;
    margin: 22px;
    position: relative;
}
.product img{
    margin: 15px;
    width: 270px;
    height: 280px ;
    border-radius: 10px;
}
.product-name{
    color: brown;
    margin: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.product-price{
    color: blue;
    margin: 15px;
    font-size: 20px;
    font-weight: 600;
}
.cart-button{
    width: 100%;
    background-color:brown;
    border: 0;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0px;
    
}
.cart-button:hover{
    background-color: chocolate;
}