.header{
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 130px;
    padding: 1px;
    color: black;
    background-color: orange;
}
.header img{
    padding-top: 15px;
    width: 100px;
    height: 100px;
}
